<!DOCTYPE html>
<html>
<head>
  <title>Taskr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <p>
  <% if signed_in? %>
    <p>
    <%= link_to "Sign out", session_path, method: :delete %>
    <%= current_user.name %>
    </p>
  <% else %>
    <%= link_to "Sign in", new_session_path %>
    <%= link_to "Sign up", new_user_path %>
  <% end %>
</p>
</head>
<body>

<%= yield %>

</body>
</html>
